/* 
    A - Variables Styles .
    B - Style Genaral Classes .
    C - Style Class Components 
      C1 - Style Class Header Component 
      C2- Style Class Navbar Component .
      C3 - Style Class Section Body Component .
      C4 - Style Class Section About Component .
      C5 - Style Class Section Footer Component
      C6 - Style Class Section Showimg Component
      C7 - Style Class Section Showimg Component To Media Queris.
      C8 - Style Class Section Form Component.
      C9 - Style Class Section Form Component To Media Queris.

 */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  box-sizing: border-box;
  color: #ffffff;
  background-color: #393939;
  direction: ltr;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #ffffff;
}

.container {
  max-width: 95% !important;
  height: auto;
}

header {
  background-color: #212529;
  width: 100%;
  height: auto;
  padding: 5px 0px;
  color: #ffffff;
}
header nav .navbar-collapse {
  justify-content: flex-end;
}

.navbar__tagessection {
  width: 100%;
  height: auto;
}
.navbar__tages {
  width: 100%;
  height: auto;
}
.navbar__tages a {
  width: auto;
  padding: 5px 10px;
  background-color: #e7853f;
  margin: 5px 0 5px 5px;
}
.navbar__tages a:hover {
  background-color: #e7853f;
  color: inherit;
}

.section__body .row div .card {
  margin: 10px 0;
  background-color: #212529;
}

.section__about {
  margin: 10px 0;
  min-height: calc(85vh - 60px);
  max-height: auto;
}
.section__about h2 {
  font-weight: bold;
  margin: 20px 0;
}
.section__about p {
  margin-top: 40px;
  font-size: 14px;
}

.footer {
  background-color: #212529;
  color: #ffffff;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: #bfbfbf;
  height: 60px;
}

.section__showimg {
  width: 100%;
  margin: 15px 0;
  min-height: calc(90vh - 60px);
  max-height: auto;
}

.showimg {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.showimg__list {
  width: 25%;
  overflow-y: scroll;
  height: 800px;
  margin: 15px 0;
  margin-left: 2%;
}
.showimg__list__contener {
  background-color: #212529;
  height: 125px;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.showimg__list__img {
  width: 50%;
  height: 100%;
}
.showimg__list__img img {
  width: 100%;
  height: 100%;
}
.showimg__list__body {
  width: 45%;
  margin-left: 5%;
}
.showimg__list__body p {
  font-size: 12px;
  color: #d5d4d2;
}
.showimg__card {
  width: 73%;
  height: 800px;
  margin: 15px 0;
}
.showimg__card .card__img {
  width: 100%;
  height: 600px;
  position: relative;
  box-shadow: 0 0 0.125em 0.125em rgba(0, 0, 0, 0.25);
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 2vh;
  position: relative;
}
.showimg__card .card__img img {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-origin: 50% 50%;
  transform: scale(1);
  transition: transform 0.2s ease-out;
}
.showimg__card .card__img .card__button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  background-color: transparent;
  left: 5px;
  z-index: 2;
}
.showimg__card .card__img .card__button img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  z-index: 4;
  filter: invert(47%) sepia(0%) saturate(4128%) hue-rotate(252deg) brightness(125%) contrast(63%);
  cursor: default;
}
.showimg__card .card__img .card__button img:first-child {
  top: 0;
}
.showimg__card .card__img .card__button img:last-child {
  top: 25px;
}
.showimg__card .card__body {
  margin-top: 40px;
}
.showimg__card .card__body h4 {
  font-weight: 500;
}
.showimg__card .card__body p {
  font-size: 14px;
  color: #d5d4d2;
}

@media screen and (max-width: 991px) {
  .showimg {
    display: flex;
    flex-direction: column;
  }
  .showimg__list {
    display: none;
  }
  .showimg__card {
    width: 100%;
    height: 600px;
    margin: 15px 0 10px 0;
  }
  .showimg__card .card__img {
    width: 100%;
    height: 450px;
  }
  .showimg__card .card__body {
    margin-top: 20px;
  }
  .showimg__card .card__body h4 {
    font-size: 22px;
    font-weight: 500;
  }
  .showimg__card .card__body p {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .showimg {
    display: flex;
    flex-direction: column;
  }
  .showimg__list {
    display: none;
  }
  .showimg__card {
    width: 100%;
    height: 500px;
    margin: 15px 0 10px 0;
  }
  .showimg__card .card__img {
    width: 100%;
    height: 350px;
  }
  .showimg__card .card__body {
    margin-top: 20px;
  }
  .showimg__card .card__body h4 {
    font-size: 22px;
    font-weight: 500;
  }
  .showimg__card .card__body p {
    font-size: 12px;
  }
}
.section__form {
  margin: 15px 0;
  min-height: calc(90vh - 60px);
  max-height: auto;
}
.section__form .form__login {
  width: 30%;
  height: auto;
  padding: 20px 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section__form .form__login form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.section__form .form__login form h3 {
  margin: 15px 0;
  width: 100%;
  text-align: center;
  font-size: 35px;
  color: #e7853f;
  font-weight: bold;
}
.section__form .form__login form a {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #e7853f;
}

@media screen and (max-width: 991px) {
  .section__form .form__login {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .section__form .form__login {
    width: 70%;
  }
  .section__form .form__login form h3 {
    margin: 10px 0;
    font-size: 28px;
  }
}
.section__form .form__register {
  width: 50%;
  height: 100%;
  margin: 50px auto;
}
.section__form .form__register .row {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}
.section__form .form__register .row.row > * {
  padding-left: 0;
  padding-right: 0;
}
.section__form .form__register h3 {
  margin: 15px 0;
  width: 100%;
  text-align: center;
  font-size: 35px;
  color: #e7853f;
  font-weight: bold;
}
.section__form .form__register form {
  margin-top: 30px;
}
.section__form .form__register form span {
  display: inline-block;
  margin: 3px;
}
.section__form .form__register form span:first-child {
  margin-right: 15px;
}
.section__form .form__register form h4 {
  padding: 20px 0;
  color: #ececec;
  font-size: 21px;
  border-bottom: 1px solid #484747;
  margin: 15px 0;
}
.section__form .form__register form button {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #e7853f;
}

@media screen and (max-width: 991px) {
  .section__form .form__register {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .section__form .form__register {
    width: 100%;
  }
}
.register__child[data-form=student], .register__child[data-form=teacher], .register__child[data-form=pre-universitylevel], .register__child[data-form=universitylevel], .register__child[data-form=pre-universityprofessor] {
  display: none;
}

/*# sourceMappingURL=main.css.map */
