* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 95% !important;
  height: auto;
}

header {
  background-color: #f0f0f0;
  width: 100%;
  height: auto;
  padding: 5px 0px;
  background-color: #000814;
  color: #ffffff;
}
header nav .navbar-collapse {
  justify-content: flex-end;
}

.navbar__tagessection {
  width: 100%;
  height: auto;
}
.navbar__tages {
  width: 100%;
  height: auto;
}
.navbar__tages a {
  width: auto;
  padding: 5px 10px;
  background-color: cadetblue;
  margin: 5px 0 5px 5px;
}
.navbar__tages a:hover {
  background-color: cadetblue;
  color: inherit;
}

.section__body .row div {
  margin: 10px 0;
}

.section__about {
  margin: 10px 0;
}
.section__about h2 {
  font-weight: bold;
  margin: 20px 0;
}
.section__about p {
  margin-top: 40px;
  font-size: 14px;
}

.footer {
  background-color: #000814;
  color: #ffffff;
  padding: 20px 0;
  width: 100%;
}

.section__showimg {
  width: 100%;
}

.showimg {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.showimg__list {
  width: 25%;
  overflow-y: auto;
  height: 800px;
  margin: 15px 0;
  margin-left: 2%;
}
.showimg__list__contener {
  background-color: beige;
  height: 125px;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.showimg__list__img {
  width: 50%;
  height: 100%;
}
.showimg__list__img img {
  width: 100%;
  height: 100%;
}
.showimg__list__body {
  width: 45%;
  margin-left: 5%;
}
.showimg__list__body p {
  font-size: 12px;
}
.showimg__card {
  width: 73%;
  height: 800px;
  margin: 15px 0;
}
.showimg__card .card__img {
  width: 100%;
  height: 600px;
  position: relative;
  box-shadow: 0 0 0.125em 0.125em rgba(0, 0, 0, 0.25);
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 2vh;
  position: relative;
}
.showimg__card .card__img img {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-origin: 50% 50%;
  transform: scale(1);
  transition: transform 0.2s ease-out;
}
.showimg__card .card__img .card__button {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 15px;
  background-color: transparent;
  left: 5px;
  z-index: 2;
}
.showimg__card .card__img .card__button img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  z-index: 4;
  filter: invert(47%) sepia(0%) saturate(4128%) hue-rotate(252deg) brightness(125%) contrast(63%);
  cursor: default;
}
.showimg__card .card__img .card__button img:first-child {
  top: 0;
}
.showimg__card .card__img .card__button img:last-child {
  top: 25px;
}
.showimg__card .card__body {
  margin-top: 20px;
}
.showimg__card .card__body h4 {
  font-weight: 500;
}
.showimg__card .card__body p {
  font-size: 14px;
}

/*
.container {
  align-items:center;
  background-color:#333;
  background-image:radial-gradient(#999,#333);
  border:solid 2px #333;
  display:flex;
  height:90vh;
  justify-content:center;
  overflow:hidden;
  padding:2vh;
  position:relative;
  width:90vh;
  img {
    box-shadow:0 0 .125em .125em rgba(0,0,0,.25);
    cursor:zoom-in; // not IE
    max-height:90%;
    max-width:90%;
    position:absolute;
    transform-origin:50% 50%;
    transition:transform .2s ease-out;
    &.zoom {
      cursor:zoom-out; // not IE
      transform:scale(4);
    }
  }
}

*/

/*# sourceMappingURL=main.css.map */
